GEMINI_API_KEY=your_key_here
ARI_URL=http://127.0.0.1:8088
ARI_USER=ariuser
ARI_PASS=12345
APP_NAME=ai-call-asterisk
HTTP_PORT=5300
LARAVEL_BASE=https://talkpilot.synergyinterface.com
# Key used to upload finished call recordings to /api/upload-recording
UPLOAD_API_KEY=123456
# Optional
# OUT_CALLERID=09678777146
# REC_DIR=recordings
# DEFAULT_LIVE_MODEL=gemini-2.5-flash-native-audio-preview-09-2025
